.contenedor-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;

}
.contenedor-productos{
    display: flex;
    flex-direction: column;
    flex:2;
    height: 1000px;


}
.producto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}
.imagen-producto{
    flex:1;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    overflow: hidden;
}
.imagen-producto img{
   width: 100%;
   height: 100%;
    object-fit: contain;
   
}
.descripcion-producto{
    display: flex;
    width: 70%;
    flex-direction: column;
    border: 2px solid lightgray;
    justify-content: center;
    text-align: center;
   
}
.descripcion-producto-texto{
    color: black;
    flex:1;
    font-size: 2em;
    font-weight: bold;
    height: auto;
}
.descripcion-eliminar {
    display: flex;  
    flex:0.5;             
    justify-content: center;     
    align-items: center;         
    background: none;            
    border: none;               
    cursor: pointer;             
    border: 2px solid lightgray;            
    transition: color 0.3s;
}
.descripcion-eliminar svg {
    width: 80%;                 /* tamaño del SVG */
    height: 80%;
    color:orange;
    
}
.descripcion-eliminar .bg-circle {
  fill: black; /* color del círculo */
  transition: fill 0.3s;
}

.descripcion-eliminar .x-icon {
  stroke: orange; /* color de la X */
  transition: stroke 0.3s;
}

.descripcion-eliminar.selected .bg-circle {
  fill: lightgrey; /* color del círculo */
  
}

.descripcion-eliminar.selected .x-icon {
  stroke: red; /* color de la X */
  
}
.contenedor-informacion{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 1000px;
    background-image: url(../Imagenes/BackGround_Carrito.png);

}
.contenedor-informacion-datos{
    display: flex;
    flex-direction: column;
    flex:2;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);

}
.titulo{
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.informacion{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.informacion-frase{
    color: orange;
    font-weight: bold;
    font-size: 2em;
}
.informacion-frase h2{
    color:white;
}

.boton-comprar{
    background-color: orange;
    border-radius: 10%;
    padding: 20px;
    color:black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

