body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 10px;

}
.contenedor_catalogo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    justify-items: center;
    padding: 20px;
    background-color: white; 
    
}
.Producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* 🔹 efecto sombra */
    width: 100%;
    max-width: 300px;
    padding: 10px;
}
.producto-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 
.producto-imagen img {
    width: 100%;
    height: 180px;
    object-fit: cover;

}
.producto-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap:10px;
  padding:5px;
  
}
.producto-nombre {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;        
  line-height: 1.2;  
  
}

.producto-precio {
  color: orange;
  font-weight: bold;
  margin: 0;        
  line-height: 1.2;  
}

.producto-categoria {
  font-size: 1em;
  font-weight: bold; 
  color: orange;
   margin: 0;        
  line-height: 1.2;  
}


@media (max-width: 768px) {
  .producto-imagen img {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .producto-imagen img {
    height: 140px;
  }
}
