body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 10px;

}
.contenedor-favoritos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

}
.titulo{
    color:black;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}
.producto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}
.imagen-producto{
    flex:1;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    overflow: hidden;
}
.imagen-producto img{
   width: 100%;
   height: 100%;
    object-fit: contain;
   
}
.descripcion-producto{
    display: flex;
    flex: 2;
    flex-direction: column;
    border: 2px solid lightgray;
    justify-content: center;
    text-align: center;
   
}
.descripcion-producto-texto{
    color: black;
    flex:1;
    font-size: 2em;
    font-weight: bold;
    height: auto;
}
.descripcion-eliminar {
    display: flex;  
    flex:0.5;             /* activa flex dentro del botón */
    justify-content: center;     /* centra horizontal */
    align-items: center;         /* centra vertical */
    background: none;            /* sin fondo */
    border: none;                /* sin borde */
    cursor: pointer;             /* cursor de mano */
    border: 2px solid lightgray;            
    transition: color 0.3s;
}

.descripcion-eliminar svg {
    width: 80%;                 /* tamaño del SVG */
    height: 80%;
    color:orange;
    
}
.descripcion-eliminar .bg-circle {
  fill: black; /* color del círculo */
  transition: fill 0.3s;
}

.descripcion-eliminar .x-icon {
  stroke: orange; /* color de la X */
  transition: stroke 0.3s;
}

.descripcion-eliminar.selected .bg-circle {
  fill: lightgrey; /* color del círculo */
  
}

.descripcion-eliminar.selected .x-icon {
  stroke: red; /* color de la X */
  
}
