* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content:center;
}
main {
    height: 100vh;     /* ocupa toda la altura visible */
    width: 100%;
}
.contenedor-personalizar{
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.imagen {
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 50px;
    
}

.opciones{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color:  #f6f6f6;
    gap: 6px;
    padding: 40px 30px;
    flex: 1;
}
.opciones-categoria{
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.opciones-nombre{
    font-size: 1.6rem;
    margin: 5px 0 10px 0;
}
.opciones-precio{
  color: #c00000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.opciones-talla{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
    gap: 10px;
    justify-items: center;
    padding: 10px;

}
.opciones-talla-item{
    display: grid;
    place-items: center;
    height: 50px;
    width: 70px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color:black;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}
.opciones-talla-item:hover{
    background-color:#ddd; 
}
.opciones-talla-item.selected{
    background-color: #ccc;
    border-color: #000;
}
.opciones-color{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
}
.opciones-color-item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid lightgray;
}
.opciones-color-item.selected{
    width: 35px;
    height: 35px;
    border: 4px solid black;
}
.opciones-boton{
  border: none;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  background-color: black;
  color: #fff;
  margin: 30px;
  text-align: center;
  transition:background-color 0.3s ease;;

}

.opciones-boton:hover {
  background-color: #555;
}
@media (max-width: 768px) {
     .contenedor-personalizar {
        flex-direction: column;
    }

    .imagen img {
        height: auto;
    }
}
